{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row %}
<div class="row">
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %} col-lg-3">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
</div>
{% endblock %}